* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: roc-grotesk, Helvetica, Arial, -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
    font-weight: 400;
    line-height: 2;
}

/* Typography styling */

.sans-serif {
    font-family: roc-grotesk, Helvetica, Arial, -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
}

.serif {
    font-family: linotype-sabon, 'Times New Roman', Times, serif;
}

h1 {
    font-size: 2rem;
}

p {
    font-family: linotype-sabon, 'Times New Roman', Times, serif;
    font-size: 1rem;
    max-width: 50rem;
}

/* Link styling */

a {
    text-decoration: none;
    color: #333;
    border-bottom: 1px solid #aaa;
}

a:active, a:hover {
    border-color: #000;
}

header a:hover, header a:active, footer a:hover, footer a:active {
    font-weight: 500;
}

/* Project card styling */

.project-item .project-item-image.searchie {
    background: #FF9090;
}

.project-item .project-item-image.oswald-labs {
    background: #AEDEFC;
}

.project-item .project-item-image.planta {
    background: #D3E4CD;
}

.project-item .project-item-image.science-world {
    background: #FAF6ED;
}

.project-item .project-item-image.baymax {
    background: #E5E7FF;
}


.project-item {
    background: #FFF;
    border-radius: 4px;
    transition: all 0.1s ease;
}

.project-item:not(:last-of-type) {
    margin-bottom: 3rem;
}

.project-item .project-item-image {
    height: 22.5rem;
    position: relative;
    text-align: center;
}

.project-item .project-item-image img {
    width: auto;
    height: auto;
    margin: 0 auto;
    max-width: 100%;
    max-height: 100%;
}

.project-item .project-item-image .award-tag {
    position: absolute;
    top: 1rem;
    right: 1rem;
    background: #FF4D46;
    color: #FFF;
    font-size: 0.8rem;
    padding: 0.25rem 0.5rem 0.1rem 0.5rem;
    border-radius: 6px;
    margin: 0;
}

.project-item .project-item-image .award-tag ion-icon {
    padding-right: 0.25rem;
    display: inline-block;
    margin-bottom: -0.1rem;
}

.project-item .project-item-text {
    padding: 1rem 0;
}

.project-item .project-item-text h4.project-name {
    font-size: 1.75rem;
    font-weight: 500;
    margin: 0;
}

.project-item .project-item-text p.project-description {
    margin: 0;
}

.project-item .project-item-text ul.project-tags {
    list-style: none;
    padding: 0;
    margin: 1rem 0 0 0;
}

.project-item .project-item-text ul.project-tags li {
    display: inline-block;
    margin: 0 0.5rem 0 0;
    background: #F1F1F1;
    border-radius: 100px;
    text-align: center;
    font-size: 0.9rem;
    padding: 0.25rem 1rem 0.1rem 1rem;
}

.project-item .project-item-text ul.project-tags li:first-of-type {
    margin-left: 0;
}

/* Small project preview styling */

.project-item.small.suggestion {
    background: transparent;
    margin-bottom: 0;
}

.project-item.small.suggestion .project-item-text ul.project-tags li {
    background: #FFF;
}

.project-item:hover {
   /* box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1); */
   opacity: 0.8;
}

.project-item:hover a {
    font-weight: 400;
}

.project-item.small .project-item-image img {
    border-radius: 4px 4px 0 0;
}

.project-item.small {
    margin-bottom: 3rem;
}

.project-item.small .project-item-text {
    /* border-top: 1px solid rgba(0, 0, 0, 0.1); */
}

.project-item.small .project-item-text h4.project-name {
    margin-top: 0;
}

.project-item.small .project-item-text ul.project-tags li {
    /* margin: 0.5rem 0.25rem 0 0; */
}

/* Navigation styling */

header {
    padding: 1rem 0;
}

a.home-link {
    border: none;
    margin: 1rem 1rem 1rem 0;
    display: block;
}

nav.primary-nav ul {
    margin: 0;
    list-style: none;
    float: right;
}

nav.primary-nav ul li {
    display: inline-block;
    margin: 1rem;
}

nav.primary-nav ul li:last-of-type {
    margin-right: 0;
}

nav.primary-nav ul li a {
    border: none;
}

/* News section styling */

ul.news-list {
    padding: 0;
    list-style: none;
}

li.news-list-item {
    padding: 0.5rem 0;
    width: 90%;
    border-bottom: 1px solid #000;
    margin-top: 2rem;
}

li.news-list-item:first-of-type {
    margin-top: 0;
    padding-top: 0;
}

li.news-list-item:hover {
    opacity: 0.8;
}

p.news-title {
    margin: 0;
    font-size: 1.25rem;
}

ion-icon.press-button {
    text-align: right;
    float: right;
    margin-top: 0.5rem;
}

/* Contact section styling */

h4.contact-information-heading {
    margin-top: 1rem;
}

.contact-options ul.contact-information-content {
    list-style: none;
    padding: 0;
    margin: 0;
}

.contact-options ul.contact-information-content li {
    margin: 1rem 0;
}

/* Green/red dot styling */

.contact-options span.current-time {
    font-style: italic;
    position: relative;
    font-size: 0.9rem;
}

span.current-time::before {
    content: '';
    height: 5px;
    width: 5px;
    border-radius: 100%;
    position: absolute;
    display: block;
    top: calc(50% - 0.175rem);
    left: -0.85rem;
}

span.current-time.available::before {
    background: #34C759;
}

span.current-time.not-available::before {
    background: #FF3B30;
}

/* Section general styling */

section {
    padding: 2.5rem 0;
}

section:nth-child(2n) {
    background: #FFF;
}

section#news {
    background: #f5f5f5;
}

section#more {
    background: #F5F5F5;
    padding: 5rem 0;
}

/* Hero section styling */

section#hero {
    padding: 2rem;
}

#hero h1, h2 {
    font-size: 2rem;
}

#hero h1 {
    margin-bottom: 0;
    font-weight: 500;
}

p.current-status {
    font-style: italic;
    margin: 2rem 0;
    position: relative;
    display: inline-block;
    margin-right: 2rem;
}

p.current-status.available::before {
    content: '';
    height: 5px;
    width: 5px;
    background: #34C759;
    border-radius: 100%;
    position: absolute;
    display: block;
    top: calc(50% - 0.175rem);
    left: -0.85rem;
}

#hero h2 {
    font-weight: 400;
    margin-top: -0.5rem;
}

#hero h3 {
    font-weight: 500;
    margin: 4rem 0 0 0 ;
}

#hero h3.about-intro {
    margin-top: 0;
    font-weight: 400;
}

#hero h3 .organization a {
    border: none;
}

#hero h3 .organization.oswald-labs a {
    color: #007bff;
}

#hero h3 .organization.caam a {
    color: #437C67;
}

#hero h3 .organization.searchie a {
    color: #FF4D46;
}

h3.section-heading {
    font-size: 2rem;
    margin: 0;
    font-weight: 500;
}

p.section-description {
    margin: 0 0 2rem 0;
}

/* Paragraph misc styling */

#contact p.large {
    max-width: 85%;
    font-size: 2rem;
}

p a {
    transition: all 0.3s ease;
}

p:not(.sans-serif) a:hover {
    border-color: #000;
}

/* Footer styling */

footer {
    background: #FFF;
    border-top: 1px solid #DDD;
    padding: 0.5rem 0;
}

footer.home-footer {
    background: #FFF;
    border: none;
}

footer p.sans-serif {
    font-size: 1rem;
    margin: 1rem;
}

/* Project individual page styling */

.project-information {
    margin-top: 2rem;
}

.project-information h3.project-information-heading {
    font-weight: 500;
    margin-bottom: 0;
}

.project-information p.project-information-content {
    font-size: 1rem;
    margin: 0.5rem 0;
}

section.project-content {
    background: #FFF;
    border-top: 1px solid #DDD;
    padding: 5rem 0;
}

section.project-content h3.project-section-heading:not(:first-of-type) {
    margin-top: 5rem;
}

.image-container.about-image-container {
    width: 100%;
    margin: 0;
}

.row.image-container {
    width: 140%;
    margin: 4rem auto;
    margin-left: -20%;
}


.image-container figure {
    text-align: center;
    margin: 1rem 0;
}

.image-container figure img {
    width: 100%;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

.image-container figure iframe {
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

.image-container figure figcaption {
    font-style: italic;
}

.image-container figure figcaption p {
    margin: 0.25rem 0;
    max-width: 100%;
}

section.project-content blockquote {
    padding: 0;
    margin: 3rem 0;
    font-size: 1.25rem;
    position: relative;
    line-height: 2;
}

section.project-content blockquote::before {
    content: '\201c';
    position: absolute;
    font-size: 4rem;
    top: -25%;
    left: -7.5%;
    color: #AAA;
    font-weight: 600;
}

section.project-content blockquote.short::before {
    top: -75%;
}

/* Buttons */

a.button {
    background: #F1F1F1;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    box-shadow: none;
    border: none;
    transition: all 0.3s ease;
}

a.button:hover {
    background: #D9D9D9;
    font-weight: 400;
}

a.button.dark {
    background: #555;
    color: #FFF;
}

a ion-icon.resume-button {
    font-size: 0.9rem;
    display: inline-block;
    margin-bottom: -0.1rem;
    margin-right: -0.35rem;
}

a.button ion-icon.resume-button {
    font-size: 0.9rem;
    padding-left: 0.25rem;
    display: inline-block;
    margin-bottom: -0.1rem;
    margin-right: -0.35rem;
}

/* Style guide styling */

aside {
    display: inline-block;
    width: 15%;
    background: #F5F5F5;
    position: fixed;
    height: 100%;
}

aside nav ul {
    margin: 0;
    padding: 2rem;
    list-style: none;
}

aside nav ul li {
    margin: 2rem 0;
}

aside nav ul li.style-guide-item:nth-child(1) p {
    font-weight: 600;
    font-size: 1.25rem;
}

main#style-guide {
    position: relative;
    width: 85%;
    margin-left: 15%;
}

main#style-guide section {
    padding: 1.5rem 0;
}

main#style-guide section:nth-child(2n) {
    background: #EEE;
}

main#style-guide h1 {
    margin: 0;
}

main#style-guide pre {
    border: 1px solid #ddd;
    padding: 1rem;
    border-radius: 4px;
    background: #fff;
    max-width: 100%;
    overflow: scroll;
}

main#style-guide .project-item {
    border: 1px solid #DDD;
}

main#style-guide a.button {
    margin-right: 1rem;
}

main#style-guide .project-item .project-item-text {
    padding: 0.5rem 1rem;
}

main#style-guide .project-item .project-item-text h4.project-name {
    margin: 0.5rem 0 0 0;
}

main#style-guide .project-item .project-item-text ul.project-tags {
    margin: 0;
}

main#style-guide .bordered {
    border: 1px solid #DDD;
    padding: 0 1rem;
}

.demo-item {
    height: 2rem;
    background: #FFF;
    margin: 1rem 0;
    border: 1px solid #ddd;
}

.demo-item p {
    margin: 0;
    width: 100%;
    text-align: center;
    max-width: 100%;
    margin-top: 0.25rem;
}

/* Back to top button styling */


.back-to-top {
    position: fixed;
    bottom: 3rem;
    right: 3rem;
    height: 3rem;
    width: 3rem;
    font-size: 1.5rem;
    border-radius: 100%;
    text-align: center;
    padding-top: 0.25rem;
    border: 1px solid #DDD;
    background: #FFF;
    color: #DDD;
    transition: all 0.3s ease;
}

.back-to-top:hover {
    color: #000;
}

/* Responsive styling */


@media all and (max-width: 850px) {
    header {
        text-align: center;
    }
    nav.primary-nav ul {
        float:none;
        padding: 0;
    }
    header nav.primary-nav ul li, header nav.primary-nav ul li:last-of-type {
        margin: 0 1rem;
    }
    p.current-status {
        margin-right: 0;
    }
    .project-item .project-item-text ul.project-tags li {
        margin: 0.25rem;
    }
    #contact p.large {
        width: 100%;
        font-size: 1.5rem;
    }
    section#hero {
        padding: 1rem;
    }
    p.current-status {
        margin-bottom: 1.5rem;
    }
    #hero a.button {
        display: block;
        width: 40%;
        margin-bottom: 2rem;
    }
    #hero h2 {
        font-size: 1.5rem;
    }

    #hero h3 {
        margin: 2rem 0 0 0;
    }
    section.project-content .image-container {
        width: 100%;
        max-width: 100%;
        margin-left: 0;
    }
}